body {
  color: #ffffff !important;
  background: #1e2124;
  margin-top: 10px;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.form-control {
  background-color: #1a1616;
  border: 1px solid #0b0c0c;
}
.bg-light {
  background-color: #23272a !important;
}
.card {
  background: #1e2124;
}
.border-right {
  border-right: 4px solid #2b2d30 !important;
}
.border-bottom {
  border-bottom: 4px solid #2b2d30 !important;
}
.border-top {
  border-top: 4px solid #2b2d30 !important;
}
.chat-online {
  color: #34ce57;
}
.list-group-item {
  background-color: #1e2124;
}

.chat-offline {
  color: #e4606d;
}

.chat-messages {
  background: #1e2124;
  display: flex;
  flex-direction: column;
  max-height: 750px;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
